/* PALETA COLORES */

.first-color {
    background: #062925;
}

.second-color {
    background: #044a42;
}

.third-color {
    background: #3a9188;
}

.fourth-color {
    background: #b8e1dd;
}

legend.custom-fieldset {
    width: inherit;
    padding: 0 10px;
    border-bottom: none;
    background-color: white;
    border-radius: 10px;
    border: 1px black solid;
}

fieldset.custom-fieldset {
    border: 1px groove black !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    border-radius: 5px;
}

label {
    cursor: pointer !important;
}

.form-control:focus {
    border-color: #3a9188;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(49, 160, 154);
}

.custom-button {
    background: #2a746c;
    border-color: #2a746c;
}

.custom-button:hover {
    background: #044a42;
    border-color: #044a42;
}


/* BARRA de NAVEGACION*/

html,
body {
    font-family: 'Roboto', sans-serif;
}

nav {
    padding: 15px 25px;
    background-color: #044a42;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    color: #fff;
}

.nav-list {
    display: flex;
    list-style: none;
    z-index: 10 !important;
    padding: 0px;
    margin: 0px;
}

.nav-list li a {
    text-decoration: none;
    font-size: calc(14px + .3vw);
    color: #fff;
    padding: 0px 15px;
}

#hamburger-toggle {
    display: none;
}

.hamburger {
    width: 30px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 25px;
}

.hamburger .bar {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: relative;
    transition: all 0.3s;
}

.hamburger .bar::before,
.hamburger .bar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: all 0.3s;
}

.hamburger .bar::before {
    transform: translateY(-10px);
}

.hamburger .bar::after {
    transform: translateY(10px);
}

@media (max-width:600px) {
    .nav-list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #044a42;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.3s;
        z-index: 1;
    }
    .nav-list li {
        margin: 10px 0;
    }
    .nav-list li a {
        display: inline-block;
        /* font-size: 20px; */
        padding: 15px 20px;
        transition: all 0.3s;
    }
    .nav-list li a:hover {
        background-color: #fff;
        color: #044a42;
        transform: translateY(-10px);
    }
    .hamburger {
        display: flex;
        z-index: 999;
    }
    #hamburger-toggle:checked~.nav-list {
        transform: none;
    }
    #hamburger-toggle:checked~.hamburger .bar::before {
        transform: rotate(45deg);
    }
    #hamburger-toggle:checked~.hamburger .bar {
        background-color: transparent;
    }
    #hamburger-toggle:checked~.hamburger .bar::after {
        transform: rotate(-45deg);
    }
}


/* FIN BARRA de NAVEGACION  */


/* Estilos de materiales aceptados*/

.nav-link {
    color: whitesmoke;
}

.material-accept-list {
    display: flex;
    flex-direction: column;
    border: 2px solid #3a9188;
    border-radius: 25px;
}

#materials {
    list-style: none;
}

.material-collapse {
    margin-top: 25px;
    border-bottom: 2px solid #3a9188;
}

.collapse-title {
    font-size: 25px;
    padding-bottom: 25px;
}

.collapse-title img {
    max-width: 100%;
    border-radius: 10px;
}

.collapse-body {
    padding: 20px 0;
    font-size: 18px;
    background-color: #b8e1dd;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px 0;
    font-size: .875rem;
    line-height: 1.8;
}

.card {
    align-items: center;
}

.card-img {
    display: flex;
    align-content: center;
    height: 100%;
    margin: 2%;
}

.imge {
    align-self: center;
}

.card-title {
    padding-top: 25px;
}

@media (max-width:600px) {
    .material-info {
        width: 250px;
    }
}

.secretary-materials-table {
    text-align: center;
}

.secretary-materials-table div {
    padding: 0.5rem;
    align-items: center;
}

.secretary-materials-table>.row:first-child {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px black solid;
    font-weight: bolder;
}

.secretary-materials-table .row {
    border-bottom: 0.5px gray solid;
}

.secretary-materials-table img {
    max-height: 100px;
    width: auto;
    margin: auto;
}

.secretary-materials-table i {
    font-size: 1.5rem !important;
    margin: 0 10px;
    cursor: pointer;
}

.secretary-materials-table a {
    text-decoration: none;
    color: #3a9188;
}


/*Estilos de ingreso material de cartoneros */

.nombre_cartonero {
    display: block;
    padding-left: 40%;
    padding-top: 1%;
    color: #2a746c;
}

.list-group-item {
    background-color: #b8e1dd;
}

#btn_box {
    background-color: #3a9188;
}

.dropdown-toggle {
    background-color: #3a9188;
}

.dropdown-menu {
    background-color: #b8e1dd;
}

.btn-secondary:hover {
    background-color: #2a746c;
}

.show>.btn-secondary.dropdown-toggle {
    background-color: #2a746c;
}

.btn-secondary.focus,
.btn-secondary:focus {
    background-color: #2a746c;
}

#inputGroup-sizing-sm {
    background-color: #3a9188
}

#weight_label {
    background-color: #3a9188;
    color: white;
    border: 1px solid transparent;
}

#weight_input {
    width: 100px;
    background-color: #b8e1dd;
}

thead {
    background-color: #3a9188;
    color: white;
    font: 16px Roboto, sans-serif;
}

tbody {
    background-color: #b8e1dd;
}

#btn_add_box {
    background-color: #3a9188;
    color: white;
}