/* PALETA COLORES */

.first-color {
    background: #062925;
}

.second-color {
    background: #044a42;
}

.third-color {
    background: #3a9188;
}

.fourth-color {
    background: #b8e1dd;
}

legend.custom-fieldset {
    width: inherit;
    padding: 0 10px;
    border-bottom: none;
}

fieldset.custom-fieldset {
    border: 1px groove black !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    border-radius: 5px;
}

label {
    cursor: pointer !important;
}


/* BARRA deNAVEGACION JUAN */

html,
body {
    font-family: 'Roboto', sans-serif;
}

nav {
    padding: 15px 25px;
    background-color: #044a42;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    color: #fff;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-left: 30px;
}

.nav-list li a {
    text-decoration: none;
    font-size: calc(12px + .5vw);
    color: #fff;
    padding: 0px 15px;
}

#hamburger-toggle {
    display: none;
}

.hamburger {
    width: 30px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 25px;
}

.hamburger .bar {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: relative;
    transition: all 0.3s;
}

.hamburger .bar::before,
.hamburger .bar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: all 0.3s;
}

.hamburger .bar::before {
    transform: translateY(-10px);
}

.hamburger .bar::after {
    transform: translateY(10px);
}

@media (max-width:600px) {
    .nav-list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #044a42;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.3s;
        z-index: 1;
    }
    .nav-list li {
        margin: 10px 0;
    }
    .nav-list li a {
        display: inline-block;
        font-size: 20px;
        padding: 15px 20px;
        transition: all 0.3s;
    }
    .nav-list li a:hover {
        background-color: #fff;
        color: #044a42;
        transform: translateY(-10px);
    }
    .hamburger {
        display: flex;
        z-index: 999;
    }
    #hamburger-toggle:checked~.nav-list {
        transform: none;
    }
    #hamburger-toggle:checked~.hamburger .bar::before {
        transform: rotate(45deg);
    }
    #hamburger-toggle:checked~.hamburger .bar {
        background-color: transparent;
    }
    #hamburger-toggle:checked~.hamburger .bar::after {
        transform: rotate(-45deg);
    }
}


/* FIN BARRA deNAVEGACION JUAN */


/* Estilos de materiales aceptados*/

.nav-link {
    color: whitesmoke;
}

.material-accept-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    border: 2px solid #3a9188;
    border-radius: 25px;
}

#materials {
    list-style: none;
}

.materials-title {
    margin-bottom: 25px;
    ;
}

.btn-material {
    background-color: #044a42;
    border-color: #b8e1dd;
}


/* MUESTRA FONDOS EN BASE A PALETA */

.carga_elem_recicables {
    background-color: #b8e1dd;
}

.cartelera {
    background-color: #3a9188;
}